ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ol li {
    position: relative;
    background-color: #A88C0F;
    border-top: 1px solid #6E5D15;
    border-bottom: 1px solid #6E5D15;
    padding: 8px;
    height: 30px;
}
#queue ol li {
    cursor: move;
}
#queue button.clear-queue {
    margin: 5px;
    font-size: 8pt;
    float: right;
    display: block;
}

#search-results ol li {
    cursor: pointer;
}
#search-results ol li:not(.selected) {
    transition: background-color 1s;
}
#search-results ol li.selected {
    background-color: #0F2BA8;
}

ol li .name {
    font-size: 12pt;    
    color: white;
}
ol li .metadata {
    font-size: 8pt;
    color: rgb(210, 210, 210);
    padding-top: 1px;
}
ol li .controls {
    display: table;
    position: absolute;
    right: 8px;
    top: 50%;
    height: 20px;
    margin-top: -10px;
    font-size: 10pt;
    color: white;
}
ol li .controls a, ol li .controls a:hover, ol li .controls a:visited {
    color: white;
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
    float: right;
    margin-left: 10px;
}
