
/* -*- javascript -*- */

body {
    background: #ffffff;
    font-size: 10pt;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding-bottom: 0.1em;
    background: #98FB98;
    border-bottom: 4px solid black;
    margin: 0px;
}

a {
    color: blue;
}

a:visited {
    color: purple;
}

a:hover {
    color: red ! important;
}

div.controls {
    background: #98DEF5;
    margin: 0px;
    padding: 10px;
    border-bottom: 3px solid #2DACD6;
}

.username {
    float: right;
}

div.controls .buttons {
    float: right;
}
div.controls button {
    width: 50px;
    height: 50px;
}

div.controls .status {
    margin-left: 10px;
    width: 75%;
    height: 150px;
    overflow: hidden;
}

.status-row {
    margin-bottom: 20px;
}

div.controls p {
    margin: 0px;
}

.now-playing {
    font-size: 18pt;
}

.volume-control {
    display: inline-block;
    font-size: 10pt;
    margin-top: 10px;
}

#volume {
    text-align: right;
}

#volume-indicator {
    text-align: left;
}

input#volume-selector {
    margin-left: 20px;
    height: 5px;
    width: 300px;
}

#volume-who {
    color: grey;
    font-size: 66%;
}

hr {
    display: none;
}

form {
    display: inline;
}

div.search br {
    display: none;
}

div.name-entry br {
    display: none;
}

div.name-entry form {
    margin-top: 1em;
}

div.history-page {
    margin-top: 1em;
}

ol, ul {
    margin: 0px;
}

div.history ol {
    list-style-type: none;
    padding: 0px;
}

div.searchResults {
}

span.parts span.p0 {
    background: yellow;
}

span.parts span.p1 {
    background: #ffeeee;
}

.trackUrlLink {
    margin-left: 0.5em;
    color: grey;
    text-decoration: none;
}

.trackUsername {
    color: grey;
    font-size: 66%;
}

abbr {
    border: none;
}

#statuspanel ol li {
    clear: both;
}

.queue-buttons {
    float: left;
}

.jukeboxTrack {
    margin-left: 10px;
}

#history .jukeboxTrack {
    margin-left: 0;
}

#history .while-listening {
    font-size: 0.8em;
    color: grey;
}

#history .skip {
    font-weight: bold;
    padding: 2px;
}

#history .http-error {
    color: red;
    font-family: monospace;
}

#history .error {
    font-size: 0.8em;
    color: grey;
    font-family: monospace;
}

.jukebox-track-large {
    margin-left: 0px;
}

.jukebox-track-large .img-holder {
    float: left;
    margin-right: 15px;
    width: 96px;
    height: 96px;
}

.jukebox-track-small {
    margin-bottom: 2px;
}

.jukebox-track-small .img-holder {
    float: left;
    margin-left: 10px;
    margin-right: 5px;
    width: 40px;
    height: 40px;
}

.jukebox-track-small img {
    width: 40px;
    height: 40px;
}

h2 {
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0px;
    padding: 25px 10px 4px 10px;
/*
    color: white;
        border: solid black 1px;
    padding: 0.3em;
    height: 1em;
    margin-top: 2px;
    margin-bottom: 2px;
*/
}

h3 {
    font-size: 10pt;
}

div.paneBody {
    padding: 0.3em;
}

.queue {
    width: 50%;
    float: left;
    height: 300px;
    overflow: scroll;    
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border-bottom: 1px solid #ccc;
}

div.playlistQueue {
}

.history {
    position: relative;
    width: 50%;
    float: right;
    height: 300px;
    overflow: scroll;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.history .chat {
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    opacity: 0.35;
}
.history:hover .chat, .history:focus .chat {
    opacity: 1;
}

.history .chat input {
    width: 80%;
}

.history .chat button {
    display: table-cell;
    width: 15%;
}

.action-span {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

a:hover {
    color: red ! important;
}

div.folderHeading {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom: solid #ccc 1px;
}

a.folderLink {
    color: #888;
    text-decoration: none;
}

.mainColumn {
    border-top: 1px #ccc dashed;
    padding: 0 20px;
}
.leftColumn {
    box-sizing: border-box;
    float: left;
    width: 350px;
    margin-right: 20px;
    border-top: 1px #ccc dashed;
    border-right: 1px #ccc dashed;
}
.columnClear {
    clear: left;
}

.spacerText {
    display: none;
}

.cachingIndicator {
    color: red;
    font-size: 66%;
}

.playlistQueue ol { list-style-type: none; padding: 0px; padding-left: 0.5em; }
.searchResults ul { list-style-type: none; padding: 0px; padding-left: 0.5em; }

.dequeueButton { background: url(icons/smallX.png) no-repeat; margin-right: 5px; }
.upButton { background: url(icons/moveU.png) no-repeat; }
.downButton { background: url(icons/moveD.png) no-repeat; }
.enqueueButton { background: url(icons/atBot.png) no-repeat; margin-right: 5px; }
.atTopButton { background: url(icons/atTop.png) no-repeat; }
.imageButton {
    width: 11px;
    border: 0px;
    overflow: hidden;
    background-position: 0 3px;
    text-indent: -9000px;
}

.enqueueButton {
    width: auto;
    text-indent: 10px;
    padding: 0px;
}

dd {
    margin-bottom: 1em;
}

span.rootCount {
    font-family: mono;
}

#history {
    padding-left: 10px;
}

#history .when {
    font-size: 0.8em;
    color: #888;
}

#history .who {
    font-weight: bold;
}

#history li {
    white-space: nowrap;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #87D4ED;
    border-top: 2px solid #2DACD6;
}

.version {
    opacity: 0.5;
}
.version:hover {
    opacity: 1;
}
