Source: nih
Section: unknown
Priority: extra
Maintainer: Tom Parker <palfrey@tevp.net>
Build-Depends: cdbs, debhelper (>= 7.0.50~), python-django, python-django-treebeard, python-beautifulsoup, python-django-genshi, python-alsaaudio, python-mutagen, python-magic, python-musicbrainz2
Standards-Version: 3.8.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/nih.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/nih.git;a=summary

Package: nih
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
