#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

binary-install/nih::
	cp debian/nih.apache2.sites debian/nih/etc/apache2/sites-available/nih
	cp -R jsonrpc/ jukebox simple_player *.py debian/nih/usr/share/nih/
